## Pandas

Advanced Python Data Analysis Toolkit

Hauptwerkzeug zur Verarbeitung von Daten

In [1]:
import numpy as np
import pandas as pd

### Serie

Numpy Array mit zusätzlichen Eigenschaften

- Name
- Benannter Index

In [2]:
pd.Series([9, 83.7, 8.6, 0.38])

0     9.00
1    83.70
2     8.60
3     0.38
dtype: float64

Werte alleine sind nicht aussagekräftig -> Beschriftungen

In [3]:
einwohnerM = pd.Series([9, 83.7, 8.6, 0.38])

In [4]:
einwohnerM.name = "Einwohnerzahlen DACHLI"

In [5]:
einwohnerM

0     9.00
1    83.70
2     8.60
3     0.38
Name: Einwohnerzahlen DACHLI, dtype: float64

In [6]:
einwohnerM.index = ["AT", "DE", "CH", "LI"]

In [7]:
einwohnerM

AT     9.00
DE    83.70
CH     8.60
LI     0.38
Name: Einwohnerzahlen DACHLI, dtype: float64

In [8]:
einwohnerM.values  # Unterliegendes Numpy Array

array([ 9.  , 83.7 ,  8.6 ,  0.38])

In [9]:
einwohnerM[0]

C:\Users\lk3\AppData\Local\Temp\ipykernel_12068\3060421205.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  einwohnerM[0]

np.float64(9.0)

In [10]:
einwohnerM.iloc[0]

np.float64(9.0)

In [11]:
einwohnerM[0:2]

AT     9.0
DE    83.7
Name: Einwohnerzahlen DACHLI, dtype: float64

In [12]:
einwohnerM["AT":"CH"]  # Textbasierter Bereichsindex

AT     9.0
DE    83.7
CH     8.6
Name: Einwohnerzahlen DACHLI, dtype: float64

In [13]:
einwohnerM.mean()  # Funktionen

np.float64(25.419999999999998)

In [14]:
einwohnerM[einwohnerM < einwohnerM.mean()]  # Vektorisierung

AT    9.00
CH    8.60
LI    0.38
Name: Einwohnerzahlen DACHLI, dtype: float64

### DataFrame

Effektiv eine Tabelle (2D-Datenset)

Jede Zeile/Spalte ist eine Serie

In [15]:
pd.DataFrame({"Spalte 1": [1, 2, 3], "Spalte 2": [4, 5, 6], "Spalte 3": [7, 8, 9]})

   Spalte 1  Spalte 2  Spalte 3
0         1         4         7
1         2         5         8
2         3         6         9

#### Externe Daten einlesen

Über die read_... Funktionen können externe Daten eingelesen werden

In [16]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".")

In [17]:
data

,#,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [18]:
data.info()  # Datentypen prüfen

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population(2020)         235 non-null    int64
 3   YearlyChange             235 non-null    object
 4   NetChange                235 non-null    int64
 5   Density(P/Km²)           235 non-null    int64
 6   Land Area(Km²)           235 non-null    int64
 7   Migrants(net)            201 non-null    float64
 8   Fert.Rate                235 non-null    object
 9   Med.Age                  235 non-null    object
 10  UrbanPop %               235 non-null    object
 11  WorldShare               235 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 22.2+ KB

#### Probleme mit dem Datenset
- DataFrame selbst
    - Spaltennamen
    - Index Spalte auf Country setzen
- Daten
    - Prozentzeichen
    - NaN (Leere Zellen)
    - N.A. (Text)
    - Datentypen

#### Spaltennamen

Um Spaltennamen zu ändern wird die rename Funktion verwendet

Um Spalten zu entfernen wird die drop Funktion verwendet

In [19]:
# data.drop(columns="#")  # Bei jeder Funktion, die das DataFrame verändert, wird immer eine Kopie erzeugt
data.drop(columns="#", inplace=True)  # inplace: Wendet die Änderung auf das originale DataFrame an

In [20]:
data

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [21]:
data.rename(columns={
    "Country (or dependency)": "Country",
    "Population(2020)": "Pop",
    "Density(P/Km²)": "Density",
    "Land Area(Km²)": "Area",
    "Migrants(net)": "Migrants",
    "Fert.Rate": "FertRate",
    "Med.Age": "MedAge",
    "UrbanPop %": "UrbanPopPct"
}, inplace=True)

In [22]:
data

,Country,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
0,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

#### Index setzen

In [23]:
data.set_index("Country", inplace=True)

In [24]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Daten angreifen

Top/Bottom X: head(X), tail(X)

Index:
- data[...]: Nur Spalten
- data.loc[...]: Nur Zeilen
- data.iloc[...]: Nur Zeilen mit Index (ohne Text)

In [25]:
data.head(3)

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %

In [26]:
data.tail(3)

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [29]:
data["Pop"]

Country
China               1439323776
India               1380004385
United States        331002651
Indonesia            273523615
Pakistan             220892340
                       ...
Montserrat                4992
Falkland Islands          3480
Niue                      1626
Tokelau                   1357
Vatican State              801
Name: Pop, Length: 235, dtype: int64

In [36]:
data.loc["China"]

Pop             1439323776
YearlyChange        0.39 %
NetChange          5540090
Density                153
Area               9388211
Migrants         -348399.0
FertRate               1.7
MedAge                  38
UrbanPopPct           61 %
WorldShare         18.47 %
Name: China, dtype: object

In [37]:
data.loc["China", "Pop":"Area"]

Pop             1439323776
YearlyChange        0.39 %
NetChange          5540090
Density                153
Area               9388211
Name: China, dtype: object

In [41]:
data.loc["China":"Pakistan"]

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [40]:
data.loc["China":"Pakistan", "Pop":"Area"]

                      Pop YearlyChange  NetChange  Density     Area
Country
China          1439323776       0.39 %    5540090      153  9388211
India          1380004385       0.99 %   13586631      464  2973190
United States   331002651       0.59 %    1937734       36  9147420
Indonesia       273523615       1.07 %    2898047      151  1811570
Pakistan        220892340       2.00 %    4327022      287   770880

In [42]:
data.iloc[:5]

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [43]:
data.iloc[10:20]

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
Thailand,69799978,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %

In [48]:
# Aufgabe: Was ist die Durchschnittsbevölkerung der 10-20 Nationen?
np.mean(data.iloc[10:20]["Pop"])

np.float64(96217144.9)

In [50]:
data.iloc[10:20]["Pop"].mean()

np.float64(96217144.9)

In [52]:
data.loc["Japan":"Thailand", "Pop"].mean()

np.float64(96217144.9)

In [54]:
data.iloc[10:20, 0].mean()

np.float64(96217144.9)

### Daten sortieren

Zwei Funktionen
- sort_values("Spaltenname")
- sort_index()

Mit ascending=True/False die Richtung bestimmen

In [58]:
data.sort_values("FertRate").head(20)

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
South Korea,51269185,0.09 %,43877,527,97230,11731.0,1.1,44,82 %,0.66 %
Taiwan,23816775,0.18 %,42899,673,35410,30001.0,1.2,42,79 %,0.31 %
Puerto Rico,2860853,-2.47 %,-72555,323,8870,-97986.0,1.2,44,N.A.,0.04 %
Macao,649335,1.39 %,8890,21645,30,5000.0,1.2,39,N.A.,0.01 %
Singapore,5850342,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
Portugal,10196709,-0.29 %,-29478,111,91590,-6000.0,1.3,46,66 %,0.13 %
Cyprus,1207359,0.73 %,8784,131,9240,5000.0,1.3,37,67 %,0.02 %
Italy,60461826,-0.15 %,-88249,206,294140,148943.0,1.3,47,69 %,0.78 %
Moldova,4033963,-0.23 %,-9300,123,32850,-1387.0,1.3,38,43 %,0.05 %
Bosnia and Herzegovina,3280819,-0.61 %,-20181,64,51000,-21585.0,1.3,43,52 %,0.04 %
Hong Kong,7496981,0.82 %,60827,7140,1050,29308.0,1.3,45,N.A.,0.10 %
Spain,46754778,0.04 %,18002,94,498800,40000.0,1.3,45,80 %,0.60 %
Greece,10423054,-0.48 %,-50401,81,128900,-16000.0,1.3,46,85 %,0.13 %
Ukraine,43733762,-0.59 %,-259876,75,579320,10000.0,1.4,41,69 %,0.56 %
Mauritius,1271768,0.17 %,2100,626,2030,0.0,1.4,37,41 %,0.02 %
Poland,37846611,-0.11 %,-41157,124,306230,-29395.0,1.4,42,60 %,0.49 %
Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
Croatia,4105267,-0.61 %,-25037,73,55960,-8001.0,1.4,44,58 %,0.05 %
United Arab Emirates,9890402,1.23 %,119873,118,83600,40000.0,1.4,33,86 %,0.13 %
Saint Lucia,183627,0.46 %,837,301,610,0.0,1.4,34,19 %,0.00 %

In [59]:
data.sort_values("FertRate", ascending=False)

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Taiwan,23816775,0.18 %,42899,673,35410,30001.0,1.2,42,79 %,0.31 %
Singapore,5850342,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
Puerto Rico,2860853,-2.47 %,-72555,323,8870,-97986.0,1.2,44,N.A.,0.04 %
Macao,649335,1.39 %,8890,21645,30,5000.0,1.2,39,N.A.,0.01 %
South Korea,51269185,0.09 %,43877,527,97230,11731.0,1.1,44,82 %,0.66 %

In [61]:
data.sort_values(["FertRate", "Country"]).head(30)

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
South Korea,51269185,0.09 %,43877,527,97230,11731.0,1.1,44,82 %,0.66 %
Macao,649335,1.39 %,8890,21645,30,5000.0,1.2,39,N.A.,0.01 %
Puerto Rico,2860853,-2.47 %,-72555,323,8870,-97986.0,1.2,44,N.A.,0.04 %
Singapore,5850342,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
Taiwan,23816775,0.18 %,42899,673,35410,30001.0,1.2,42,79 %,0.31 %
Bosnia and Herzegovina,3280819,-0.61 %,-20181,64,51000,-21585.0,1.3,43,52 %,0.04 %
Cyprus,1207359,0.73 %,8784,131,9240,5000.0,1.3,37,67 %,0.02 %
Greece,10423054,-0.48 %,-50401,81,128900,-16000.0,1.3,46,85 %,0.13 %
Hong Kong,7496981,0.82 %,60827,7140,1050,29308.0,1.3,45,N.A.,0.10 %
Italy,60461826,-0.15 %,-88249,206,294140,148943.0,1.3,47,69 %,0.78 %
Moldova,4033963,-0.23 %,-9300,123,32850,-1387.0,1.3,38,43 %,0.05 %
Portugal,10196709,-0.29 %,-29478,111,91590,-6000.0,1.3,46,66 %,0.13 %
Spain,46754778,0.04 %,18002,94,498800,40000.0,1.3,45,80 %,0.60 %
Croatia,4105267,-0.61 %,-25037,73,55960,-8001.0,1.4,44,58 %,0.05 %
Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
Mauritius,1271768,0.17 %,2100,626,2030,0.0,1.4,37,41 %,0.02 %
Poland,37846611,-0.11 %,-41157,124,306230,-29395.0,1.4,42,60 %,0.49 %
Saint Lucia,183627,0.46 %,837,301,610,0.0,1.4,34,19 %,0.00 %
Ukraine,43733762,-0.59 %,-259876,75,579320,10000.0,1.4,41,69 %,0.56 %
United Arab Emirates,9890402,1.23 %,119873,118,83600,40000.0,1.4,33,86 %,0.13 %
Austria,9006398,0.57 %,51296,109,82409,65000.0,1.5,43,57 %,0.12 %
Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
Channel Islands,173863,0.93 %,1604,915,190,1351.0,1.5,43,30 %,0.00 %
Finland,5540720,0.15 %,8564,18,303890,14000.0,1.5,43,86 %,0.07 %
Hungary,9660351,-0.25 %,-24328,107,90530,6000.0,1.5,43,72 %,0.12 %
Luxembourg,625978,1.66 %,10249,242,2590,9741.0,1.5,40,88 %,0.01 %
Malta,441543,0.27 %,1171,1380,320,900.0,1.5,43,93 %,0.01 %
North Macedonia,2083374,0.00 %,-85,83,25220,-1000.0,1.5,39,59 %,0.03 %
Serbia,8737371,-0.40 %,-34864,100,87460,4000.0,1.5,42,56 %,0.11 %
Slovakia,5459642,0.05 %,2629,114,48088,1485.0,1.5,41,54 %,0.07 %

In [62]:
data.sort_index()

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Albania,2877797,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Western Sahara,597339,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Yemen,29825964,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Zambia,18383955,2.93 %,522925,25,743390,-8000.0,4.7,18,45 %,0.24 %
Zimbabwe,14862924,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %

### Daten filtern

Wie Vektorisierung bei Numpy

In [64]:
# Aufgabe: Finde alle Länder, mit mind. 100m Einwohnern
data["Pop"] > 100_000_000

Country
China                True
India                True
United States        True
Indonesia            True
Pakistan             True
                    ...
Montserrat          False
Falkland Islands    False
Niue                False
Tokelau             False
Vatican State       False
Name: Pop, Length: 235, dtype: bool

In [65]:
data[data["Pop"] > 100_000_000]

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %

In [76]:
# Aufgabe: Finde alle Länder, welche zw. 10m und 50m Einwohnern haben
data[(data["Pop"] > 10_000_000) & (data["Pop"] < 50_000_000)]  # Bedingungen kombinieren: &, |, ~

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Spain,46754778,0.04 %,18002,94,498800,40000.0,1.3,45,80 %,0.60 %
Uganda,45741007,3.32 %,1471413,229,199810,168694.0,5.0,17,26 %,0.59 %
Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
...,...,...,...,...,...,...,...,...,...,...
Greece,10423054,-0.48 %,-50401,81,128900,-16000.0,1.3,46,85 %,0.13 %
Jordan,10203134,1.00 %,101440,115,88780,10220.0,2.8,24,91 %,0.13 %
Portugal,10196709,-0.29 %,-29478,111,91590,-6000.0,1.3,46,66 %,0.13 %
Azerbaijan,10139177,0.91 %,91459,123,82658,1200.0,2.1,32,56 %,0.13 %
Sweden,10099265,0.63 %,62886,25,410340,40000.0,1.9,41,88 %,0.13 %

### Weiteres

In [77]:
data.index

Index(['China', 'India', 'United States', 'Indonesia', 'Pakistan', 'Brazil',
       'Nigeria', 'Bangladesh', 'Russia', 'Mexico',
       ...
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country', length=235)

In [78]:
for x in data.index:
    print(x)

China
India
United States
Indonesia
Pakistan
Brazil
Nigeria
Bangladesh
Russia
Mexico
Japan
Ethiopia
Philippines
Egypt
Vietnam
DR Congo
Turkey
Iran
Germany
Thailand
United Kingdom
France
Italy
Tanzania
South Africa
Myanmar
Kenya
South Korea
Colombia
Spain
Uganda
Argentina
Algeria
Sudan
Ukraine
Iraq
Afghanistan
Poland
Canada
Morocco
Saudi Arabia
Uzbekistan
Peru
Angola
Malaysia
Mozambique
Ghana
Yemen
Nepal
Venezuela
Madagascar
Cameroon
Côte d'Ivoire
North Korea
Australia
Niger
Taiwan
Sri Lanka
Burkina Faso
Mali
Romania
Malawi
Chile
Kazakhstan
Zambia
Guatemala
Ecuador
Syria
Netherlands
Senegal
Cambodia
Chad
Somalia
Zimbabwe
Guinea
Rwanda
Benin
Burundi
Tunisia
Bolivia
Belgium
Haiti
Cuba
South Sudan
Dominican Republic
Czech Republic (Czechia)
Greece
Jordan
Portugal
Azerbaijan
Sweden
Honduras
United Arab Emirates
Hungary
Tajikistan
Belarus
Austria
Papua New Guinea
Serbia
Israel
Switzerland
Togo
Sierra Leone
Hong Kong
Laos
Paraguay
Bulgaria
Libya
Lebanon
Nicaragua
Kyrgyzstan
El Salvador
Turkmenistan
Singapore
Denmark
Finland
Congo
Slovakia
Norway
Oman
State of Palestine
Costa Rica
Liberia
Ireland
Central African Republic
New Zealand
Mauritania
Panama
Kuwait
Croatia
Moldova
Georgia
Eritrea
Uruguay
Bosnia and Herzegovina
Mongolia
Armenia
Jamaica
Qatar
Albania
Puerto Rico
Lithuania
Namibia
Gambia
Botswana
Gabon
Lesotho
North Macedonia
Slovenia
Guinea-Bissau
Latvia
Bahrain
Equatorial Guinea
Trinidad and Tobago
Estonia
Timor-Leste
Mauritius
Cyprus
Eswatini
Djibouti
Fiji
Réunion
Comoros
Guyana
Bhutan
Solomon Islands
Macao
Montenegro
Luxembourg
Western Sahara
Suriname
Cabo Verde
Micronesia
Maldives
Malta
Brunei
Guadeloupe
Belize
Bahamas
Martinique
Iceland
Vanuatu
French Guiana
Barbados
New Caledonia
French Polynesia
Mayotte
Sao Tome & Principe
Samoa
Saint Lucia
Channel Islands
Guam
Curaçao
Kiribati
Grenada
St. Vincent & Grenadines
Aruba
Tonga
U.S. Virgin Islands
Seychelles
Antigua and Barbuda
Isle of Man
Andorra
Dominica
Cayman Islands
Bermuda
Marshall Islands
Northern Mariana Islands
Greenland
American Samoa
Saint Kitts & Nevis
Faeroe Islands
Sint Maarten
Monaco
Turks and Caicos
Saint Martin
Liechtenstein
San Marino
Gibraltar
British Virgin Islands
Caribbean Netherlands
Palau
Cook Islands
Anguilla
Tuvalu
Wallis & Futuna
Nauru
Saint Barthelemy
Saint Helena
Saint Pierre & Miquelon
Montserrat
Falkland Islands
Niue
Tokelau
Vatican State

In [79]:
data.columns

Index(['Pop', 'YearlyChange', 'NetChange', 'Density', 'Area', 'Migrants',
       'FertRate', 'MedAge', 'UrbanPopPct', 'WorldShare'],
      dtype='object')

In [82]:
data["MedAge"].value_counts()  # Gibt die Anzahl der einzigartigen Werte anhand einer Spalte zurück

MedAge
N.A.    34
19      14
28      12
43      11
32      11
42      10
18      10
20       9
30       8
38       7
26       7
40       7
22       7
31       6
34       6
24       6
17       6
44       5
29       5
41       5
33       5
21       5
45       5
23       4
37       4
36       4
25       4
27       4
39       3
46       3
35       3
47       2
48       1
15       1
16       1
Name: count, dtype: int64

In [83]:
data.groupby("MedAge")

In [100]:
data.groupby("MedAge").get_group("19")

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
Cameroon,26545863,2.59 %,669483,56,472710,-4800.0,4.6,19,56 %,0.34 %
Côte d'Ivoire,26378274,2.57 %,661730,83,318000,-8000.0,4.7,19,51 %,0.34 %
Senegal,16743927,2.75 %,447563,87,192530,-20000.0,4.7,19,49 %,0.21 %
Zimbabwe,14862924,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %
Benin,12123200,2.73 %,322049,108,112760,-2000.0,4.9,19,48 %,0.16 %
South Sudan,11193725,1.19 %,131612,18,610952,-174200.0,4.7,19,25 %,0.14 %
Togo,8278724,2.43 %,196358,152,54390,-2000.0,4.4,19,43 %,0.11 %
Sierra Leone,7976983,2.10 %,163768,111,72180,-4200.0,4.3,19,43 %,0.10 %
Congo,5518087,2.56 %,137579,16,341500,-4000.0,4.5,19,70 %,0.07 %
Liberia,5057681,2.44 %,120307,53,96320,-5000.0,4.4,19,53 %,0.06 %
Eritrea,3546421,1.41 %,49304,35,101000,-39858.0,4.1,19,63 %,0.05 %
Guinea-Bissau,1968001,2.45 %,47079,70,28120,-1399.0,4.5,19,45 %,0.03 %
Sao Tome & Principe,219159,1.91 %,4103,228,960,-1680.0,4.4,19,74 %,0.00 %

In [92]:
# Aufgabe: Was ist der Bevölkerungsdurchschnitt von jeder Gruppe?
data.groupby("MedAge")["Pop"].mean()

MedAge
15      2.420664e+07
16      2.025083e+07
17      3.539643e+07
18      4.148540e+07
19      1.824118e+07
20      1.939652e+07
21      9.621932e+06
22      7.686515e+06
23      6.028827e+07
24      7.213284e+06
25      3.304188e+07
26      2.510786e+07
27      2.088666e+06
28      1.398790e+08
29      4.693030e+07
30      4.894655e+07
31      1.847800e+07
32      3.284957e+07
33      4.789470e+07
34      3.726593e+06
35      1.595275e+07
36      2.161582e+06
37      1.772735e+06
38      2.590871e+08
39      1.120258e+06
40      4.277205e+07
41      1.942832e+07
42      1.717237e+07
43      7.631299e+06
44      1.210433e+07
45      1.320029e+07
46      3.480124e+07
47      3.041855e+07
48      1.264765e+08
N.A.    3.333179e+04
Name: Pop, dtype: float64

In [108]:
# Welche dieser Länder sind > 50m?
g = data.groupby("MedAge")["Pop"].mean()
i = g.index
g = pd.Series(np.array(g, dtype=np.int64))
g.index = i

In [109]:
g

MedAge
15       24206644
16       20250833
17       35396425
18       41485399
19       18241182
20       19396523
21        9621932
22        7686515
23       60288272
24        7213284
25       33041880
26       25107858
27        2088666
28      139879041
29       46930304
30       48946550
31       18478003
32       32849571
33       47894699
34        3726593
35       15952753
36        2161581
37        1772735
38      259087065
39        1120258
40       42772052
41       19428317
42       17172367
43        7631298
44       12104325
45       13200286
46       34801235
47       30418545
48      126476461
N.A.        33331
dtype: int64

In [110]:
g > 50_000_000

MedAge
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23       True
24      False
25      False
26      False
27      False
28       True
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38       True
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48       True
N.A.    False
dtype: bool

In [111]:
g[g > 50_000_000]

MedAge
23     60288272
28    139879041
38    259087065
48    126476461
dtype: int64

### Daten exportieren

In Pandas gibt es die to... Funktionen

In [113]:
data.to_csv("Data/PopulationDataFastFertig.csv")